@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    position: relative;
    background: #f2f2f2;
}

.scroll {
    overflow-y: scroll;
}

.main-section {
    min-height: 100vh;
}

.text-grayishblack { color: #222222; }

.container {
    max-width: 1200px;
}

@media (max-width: 1023px ) {
    .container {
        max-width: 650px;
    }
}
